; ThinkPHP 环境配置示例

[APP]
DEBUG = true
TRACE = false

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = wms
USERNAME = root
PASSWORD = 
HOSTPORT = 3306
CHARSET = utf8mb4
PREFIX = w_

[SESSION]
TYPE = file
PREFIX = think
